body {
	background-color: #333333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

body, td, th {
	color: #CCCCCC;
}

h1 {
	color: #FFF;
}

h2, h3, h4, h5 , h6{
	color: #FFFFFF;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border: 1px solid #111111;
}

th {
	background-color: #202020;
	color: #FFFFFF;
	border: 1px solid #111111;
}

td {
	border: 1px solid #111111;
}

pre {
	background-color:#666;
	color: #EEEEEE;
	font-size: 11px;
	text-indent: 10px;
	padding: 3px;
}

a {
	color: #CCCCCC;
}

p.quote {
	display: block;
	background-color: #202020;
	margin: 5px;
	padding: 5px;
	color: #CCC;
}
ul li {
	margin-top: 4px;
	margin-bottom: 4px;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #090909;
	border-bottom: 1px solid #4B4B4B;
}

code {
	background-color: #444444;
	color: #DDDDDD;
	font-size: 11px;
}