/***********************************************
 * Twitch Chat CSS modifications.
 * Styles based on Dark Black theme (userstyles.org).
 *
 * Modified by DeezjaVu for use with TeeBoard
 *
 * Original theme:
 * https://userstyles.org/styles/78830/twitch-tv-dark-black-customisable-theme
 *
 ***********************************************/

/*----------------------*/
/*  black divided start */
/*----------------------*/

/* new chat quick fix */

.ember-chat .chat-room {
	border-top:1px solid rgb(0,0,0)!important;
}

.chat-container {
  background-color:rgb(24,24,24)!important;
}

.ember-chat{
  margin:0px!important;
}

span.message {
  color:#CCCCCC!important;
}

.ember-chat .chat-header {
  color:#ccc!important;
  border-bottom: 1px solid rgb(0, 0, 0)!important;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.04) inset!important;
  background-color:rgb(24,24,24)!important;
}

.ember-chat .chat-header .button.left {
  left:10px!important;
}

.ember-chat .chat-messages .chat-lines {
  padding:0px 0px!important;
  border-top: 1px solid rgb(0,0,0)!important;
}

.ember-chat .chat-messages .chat-line {
  padding:4px 10px 4px 10px!important;
}

div.chat-messages .chat-line {
	border-top: 1px solid rgba(255, 255, 255, 0.04)!important;
	border-bottom: 1px solid rgb(0, 0, 0)!important;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.04) inset!important;;
	background:none!important;
}

div.chat-messages .chat-line:nth-child(2n) {
  background:rgba(255, 255, 255, 0.025)!important;
}

.ember-chat .chat-messages .tse-scroll-content {
    padding:0px!important;
}

.ember-chat .chat-messages{
  left:-0px!important;
  right:0px!important;
  background-color:rgb(24,24,24)!important;
}

.ember-chat .chat-interface{
  background-color:rgb(24,24,24)!important;
}
  
.ember-chat .chat-interface .textarea-contain {
  width:95%!important;
  left:2.5%;
}

.button.send-chat-button{
  margin-right:2.5%!important;
}

.ember-chat .chat-interface .chat-buttons-container .glyph-only:first-child {
  margin-left:10px!important;
}

.loading-mask{
  display:none!important;
} 

div.textarea-contain > * > textarea {
    background-color: rgb(16,16,16)!important;
    border: 1px solid rgba(24, 24, 24, 1);
}

.ember-chat .chat-interface .textarea-contain textarea:focus{
    background-color: rgb(16,16,16)!important;
    box-shadow: 0px 0px 2px 1px rgba(185, 155, 235, 0.25);
    border: 1px solid rgba(100, 65, 165, 0.7);
}
     
    /* older stuff*/

.ember-chat .mentioning {
    padding:0px 5px!important;
    background-color: #DEDEDE;
}

.ember-chat .mentioned {
    background-color:#333333!important;
    padding:0px 5px!important;
}

/* host mode */
#hostmode,.hostmode{
    background-color:rgb(16,16,16)!important;
}

div#channel > .target-frame.active{
    background-color:rgb(16,16,16)!important;
}

.hostmode-title-container{
    background-color:rgb(16,16,16)!important;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
}
    
div.hostmode-title.clearfix{
    background-color:rgb(24,24,24)!important;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
}
    
.close-hostmode{
    background-color:rgb(16,16,16)!important;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

 

/* hidden chat */
.ember-chat .chat-hidden-overlay{
    background-color:rgb(24,24,24)!important;   
}

/* dropdown arrows */
.button.drop:after{
	border-color: rgba(255, 255, 255, 0.35) transparent transparent!important;;
}

/* hovering buttons */
.button:hover{
    color:rgb(222,222,222)!important;
}

/* Scrollbar */
.tse-scrollbar .drag-handle {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6)!important;
}

#channel .player-column .stats-and-actions{
    padding:10px 0px!important;
    margin-bottom:10px!important;
}
    
/*----------------------*/
/*  black divided end   */
/*----------------------*/

/*---------------------*/
/*   main theme start  */
/*---------------------*/

.emoticon-selector-toggle, .ffz-ui-toggle {
    opacity:0.05!important;
    -webkit-transition:opacity 0.25s ease-in;  
    -moz-transition:opacity 0.25s ease-in;  
    -o-transition:opacity 0.25s ease-in;  
    transition:opacity 0.25s ease-in;  
}

.emoticon-selector-toggle:hover, .ffz-ui-toggle:hover {
    opacity:1!important;;
    -webkit-transition:opacity 0.25s ease-in;  
    -moz-transition:opacity 0.25s ease-in;  
    -o-transition:opacity 0.25s ease-in;  
    transition:opacity 0.25s ease-in;  
}

/* dumb new chat shit on */

/* BetterTTV shit */
#chat_line_list .line p{
    text-indent:0px!important;
}

/* Has Subscribed arrow removal */
li.line.fromjtv div.indicator{
	display:none!important;
}

/* emote fix start */
.emoticon {
	margin-bottom:2px!important;
}

/* Backgrounds off */
#custom_bg,#custom-bg {
    display:none!important;
}

/*-----------------*/
/*  main theme end */
/*-----------------*/
    
/*---------------------------*/
/*  customisation pool start */
/*---------------------------*/
    
/* Turbo Icon Colour */
.turbo a {
    background-color:#4162A8!important;
    vertical-align:middle!important;
}

.subscriber a {
    vertical-align:middle!important;
}

/* Staff and admin */
.admin,.staff{
    vertical-align:middle!important;
}

/* Mod Icon */
.mod,.moderator{
	/* Using old moderator icon */
	background-image: url("http://herpderp.com/twitch/originalmod.png")!important;
	background-color:#009900!important;
	vertical-align:middle!important;
}

/* Chat Font Options*/
#chat_line_list, .ember-chat .chat-messages .chat-line {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 18px !important;
    line-height: 22px !important;
}

span.deleted a {
	color: rgb(255,0,0) !important;
}

a {
	color: rgb(255, 0, 0) !important;
}

/* Colour Fixing */
/* Lighten All Blues */

#chat_line_list > .line > p > [style*=blue] {color:#00FFFF!important;}
#chat_line_list > .line > p > [style*="color:#0000FF"] {color:#00FFFF!important;}

#chat_line_list > .line > p > [style*=darkblue] {color:#00FFFF!important;}
#chat_line_list > .line > p > [style*="color:#00008B"] {color:#00FFFF!important;}

/*black*/
#chat_line_list > .line > p > [style*="color:#101010"] {color:#B973FF!important;}

/*black*/
#chat_line_list > .line > p > [style*="color:#000000"] {color:#B973FF!important;}

/*dark green*/
#chat_line_list > .line > p > [style*="color:#212E19"] {color:#3E552F!important;}

/*dark purple*/
#chat_line_list > .line > p > [style*="color:#56007A"] {color:#56007A!important;}

/*dark purple*/
#chat_line_list > .line > p > [style*="color:#430A4D"] {color:#56007A!important;}

/*another dark blue*/
#chat_line_list > .line > p > [style*="color:#000ACC"] {color:#B973FF!important;}

/*another dark blue*/
#chat_line_list > .line > p > [style*="color:#2C13B9"] {color:#3E552F!important;}

/*another dark blue*/
#chat_line_list > .line > p > [style*="color:#161674"] {color:#00FFFF!important;}

/*another dark blue*/
#chat_line_list > .line > p > [style*="color:#B22222"] {color:#00FFFF!important;}

/*another black*/
#chat_line_list > .line > p > [style*="color:#292929"] {color:#B973FF!important;}


span.from[style*=blue] {color:#00FFFF!important;}
span.from[style*="color:#0000FF"] {color:#00FFFF!important;}

span.from[style*=darkblue] {color:#00FFFF!important;}
span.from[style*="color:#00008B"] {color:#00FFFF!important;}

/*black*/
span.from[style*="color:#101010"] {color:#B973FF!important;}

/*black*/
span.from[style*="color:#000000"] {color:#B973FF!important;}

/*dark green*/
span.from[style*="color:#212E19"] {color:#3E552F!important;}

/*dark purple*/
span.from[style*="color:#56007A"] {color:#56007A!important;}

/*dark purple*/
span.from[style*="color:#430A4D"] {color:#56007A!important;}

/*another dark blue*/
span.from[style*="color:#000ACC"] {color:#56007A!important;}

/*another dark blue*/
span.from[style*="color:#2C13B9"] {color:#00FFFF!important;}

/*another dark blue*/
span.from[style*="color:#161674"] {color:#3E552F!important;}

/*another dark blue*/
span.from[style*="color:#B22222"] {color:#3E552F!important;}

/*another black*/
span.from[style*="color:#292929"] {color:#B973FF!important;}


span.message[style*=blue] {color:#00FFFF!important;}
span.message[style*="color:#0000FF"] {color:#00FFFF!important;}

span.message[style*=darkblue] {color:#00FFFF!important;}
span.message[style*="color:#00008B"] {color:#00FFFF!important;}

/*black*/
span.message[style*="color:#101010"] {color:#B973FF!important;}

/*black*/
span.message[style*="color:#101010"] {color:#B973FF!important;}

/*dark green*/
span.message[style*="color:#212E19"] {color:#3E552F!important;}

/*dark purple*/
span.message[style*="color:#56007A"] {color:#56007A!important;}

/*dark purple*/
span.message[style*="color:#430A4D"] {color:#56007A!important;}

/*another dark blue*/
span.message[style*="color:#000ACC"] {color:#00FFFF!important;}

/*another dark blue*/
span.message[style*="color:#2C13B9"] {color:#3E552F!important;}

/*another dark blue*/
span.message[style*="color:#161674"] {color:#00FFFF!important;}

/*another dark blue*/
span.message[style*="color:#B22222"] {color:#00FFFF!important;}

/*another black*/
span.message[style*="color:#292929"] {color:#B973FF!important;}
