/* CSS file */
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace containers "be.gip.teeboard.containers.*";
@namespace notifications "be.gip.teeboard.containers.notifications.*";
@namespace controls "be.gip.teeboard.controls.*";
@namespace core "be.gip.teeboard.core.*";
@namespace windowClasses "be.gip.teeboard.core.windowClasses.*";
@namespace renderers "be.gip.teeboard.renderers.*";

global {
	color: #AAAAAA;
	fontFamily: "Verdana", "Geneva", "sans-serif";
	fontSize: 11;
	focusColor: #AAAAAA;
	focusAlpha: .15;
	focusThickness: 1.5;
	backgroundDisabledColor: #222222;
	disabledOverlayAlpha: .65;
	modalTransparency: .85;
	modalTransparencyBlur: 0;
	modalTransparencyColor: #333333;
}

mx|Alert {
	backgroundColor: #333333;
	borderColor: #333333;
}

mx|Button {
	color: #EEEEEE;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #CCCCCC;
	disabledColor: #666666;
	fontWeight: normal;
	themeColor: haloSilver;
	skin: Embed(source="/css/skins/Button_upSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	downSkin: Embed(source="/css/skins/Button04_downSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	disabledSkin: Embed(source="/css/skins/Button_disabledSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
}

.toggle-button {
	selectedUpSkin: Embed(source="/css/skins/Button04_downSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	selectedOverSkin: Embed(source="/css/skins/Button04_downSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	selectedDownSkin: Embed(source="/css/skins/Button_upSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
}

.window-close-button {
	skin: Embed(source="/css/skins/CloseButtonSkin.png");
	useRollOver: false;
}

.window-minimize-button {
	skin: Embed(source="/css/skins/MinimizeButtonSkin.png");
	useRollOver: false;
}

.window-maximize-button {
	skin: Embed(source="/css/skins/MaximizeButtonSkin.png");
	useRollOver: false;
}

/*
mx|Button {
	color: #664C00;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #CCCCCC;
	disabledColor: #666666;
	fontWeight: normal;
	themeColor: haloSilver;
	skin: Embed(source="/css/skins/Button_upSkinY.png", 
		scaleGridLeft="4", 
		scaleGridRight="56", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	downSkin: Embed(source="/css/skins/Button_downSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	disabledSkin: Embed(source="/css/skins/Button_disabledSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
}
*/

mx|CheckBox {
	color: #AAAAAA;
	textRollOverColor: #CCCCCC;
	textSelectedColor: #999999;
	upIcon: Embed(source="/css/skins/CheckBox_downIcon.png");
	overIcon: Embed(source="/css/skins/CheckBox_downIcon.png");
	downIcon: Embed(source="/css/skins/CheckBox_overIcon.png");
	disabledIcon: Embed(source="/css/skins/CheckBox_disabledIcon.png");
	selectedUpIcon: Embed(source="/css/skins/CheckBox_selectedDownIcon.png");
	selectedOverIcon: Embed(source="/css/skins/CheckBox_selectedDownIcon.png");
	selectedDownIcon: Embed(source="/css/skins/CheckBox_selectedOverIcon.png");
	selectedDisabledIcon: Embed(source="/css/skins/CheckBox_selectedDisabledIcon.png");
}

mx|ColorPicker {
	openDuration: 0;
	closeDuration: 0;
	skin: ClassReference("mx.skins.halo.ColorPickerSkin");
	downSkin: ClassReference("mx.skins.halo.ColorPickerSkin");
	disabledSkin: ClassReference("mx.skins.halo.ColorPickerSkin");
}

mx|ComboBox {
	disabledColor: #666666;
	fontWeight: "normal";
	dropdownStyleName: "comboDropdownStyles";
	closeDuration: 100;
	openDuration: 100;
	
	upSkin: Embed(source="/css/skins/ComboBox_upSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="64", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	overSkin: Embed(source="/css/skins/ComboBox_overSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="64", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	downSkin: Embed(source="/css/skins/ComboBox_downSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="64", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	disabledSkin: Embed(source="/css/skins/ComboBox_disabledSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="64", 
		scaleGridTop="4", 
		scaleGridBottom="18");
}

.comboDropdownStyles {
	backgroundColor: #222222;
	borderColor: #101010;
	borderStyle: "solid";
	color: #AAAAAA;
	dropShadowEnabled: true;
	fontWeight: "normal";
	rollOverColor: #B8B8B8;
	selectionColor: #6441A5;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	useRollOver: false;
}

mx|DataGrid {
	alternatingItemColors: #222222;
	backgroundColor: #222222;
	borderStyle: "inset";
	borderColor: #101010;
	color: #AAAAAA;
	headerColors: #222222, #222222;
	headerSeparatorSkin: ClassReference("be.gip.teeboard.skins.halo.DataGridHeaderSeparator");
	/*selectionColor: #6441A5;*/
	selectionColor: #222222;
	/*textSelectedColor: #FFFFFF;*/
	textSelectedColor: #AAAAAA;
	/*useRollOver: false;*/
	rollOverColor: #222222;
	textRollOverColor: #AAAAAA;
	verticalGridLineColor: #101010;
}

.dataGridStyles {
	color: #CCCCCC;
}

mx|DataTip {
	backgroundColor: #222222;
}

mx|DateField {
	disabledColor: #666666;
}

.view-form {
	labelWidth: 114;
}

mx|HTML {
	verticalScrollBarStyleName: "htmlVScrollBarStyles";
}

.htmlVScrollBarStyles {
	thumbUpSkin: Embed(source="/css/skins/scroll-thumb-up02.png", 
		scaleGridLeft="3", 
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	thumbOverSkin: Embed(source="/css/skins/scroll-thumb-up02.png", 
		scaleGridLeft="3", 
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	thumbDownSkin: Embed(source="/css/skins/scroll-thumb-up02.png", 
		scaleGridLeft="3", 
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	trackSkin: Embed(source="/css/skins/scroll-track-thin02.png",
		scaleGridLeft="3",	
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	thumbIcon: ClassReference(null);
}

mx|List {
	borderStyle: "inset";
	borderColor: #101010;
	backgroundColor: #222222;
	color: #AAAAAA;
	selectionColor: #6441A5;
	textSelectedColor: #FFFFFF;
	useRollOver: false;
}

mx|NumericStepper {
	backgroundColor: #222222;
	backgroundDisabledColor: #222222;
	borderStyle: "solid";
	borderColor: #101010;
	color: #AAAAAA;
	disabledColor: #666666;
	focusThickness: 1;
	/* top arrow skins */
	upArrowUpSkin: Embed(source="/css/skins/Stepper_upArrowUpSkin.png");
	upArrowOverSkin: Embed(source="/css/skins/Stepper_upArrowOverSkin.png");
	upArrowDownSkin: Embed(source="/css/skins/Stepper_upArrowDownSkin.png");
	upArrowDisabledSkin: Embed(source="/css/skins/Stepper_upArrowDisabledSkin.png");
	/* bottom arrow skins */
	downArrowUpSkin: Embed(source="/css/skins/Stepper_downArrowUpSkin.png");
	downArrowOverSkin: Embed(source="/css/skins/Stepper_downArrowOverSkin.png");
	downArrowDownSkin: Embed(source="/css/skins/Stepper_downArrowDownSkin.png");
	downArrowDisabledSkin: Embed(source="/css/skins/Stepper_downArrowDisabledSkin.png");
}

mx|ProgressBar {
	color: #AAAAAA;
	/*barColor: #999999;*/
	barColor: #222222;
	/*borderColor: #111111;*/
	borderColor: #101010;
	/*fontSize: 10;*/
	fontWeight: "normal";
	/*barSkin: ClassReference("be.gip.twitch.multiviewer.skins.halo.ProgressBarSkin");*/
	/*maskSkin: ClassReference("be.gip.twitch.multiviewer.skins.halo.ProgressMaskSkin");*/
	/*trackColors: #444444, #444444;*/
	trackColors: #333333, #333333;
	/*trackHeight: 10;*/
	trackHeight: 18;
}

mx|RadioButton {
	color: #CCCCCC;
	textSelectedColor: #CCCCCC;
	textRollOverColor: #AAAAAA;
	
	upIcon: Embed(source="/css/skins/RadioButton_upIcon.png");
	overIcon: Embed(source="/css/skins/RadioButton_overIcon.png");
	downIcon: Embed(source="/css/skins/RadioButton_downIcon.png");
	disabledIcon: Embed(source="/css/skins/RadioButton_disabledIcon.png");
	
	selectedUpIcon: Embed(source="/css/skins/RadioButton_selectedUpIcon.png");
	selectedOverIcon: Embed(source="/css/skins/RadioButton_selectedOverIcon.png");
	selectedDownIcon: Embed(source="/css/skins/RadioButton_selectedDownIcon.png");
	selectedDisabledIcon: Embed(source="/css/skins/RadioButton_selectedDisabledIcon.png");
}

mx|ScrollBar {
	upArrowSkin: ClassReference(null);
	downArrowSkin: ClassReference(null);
	thumbUpSkin: Embed(source="/css/skins/scroll-thumb-up.png", 
		scaleGridLeft="3", 
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	thumbOverSkin: Embed(source="/css/skins/scroll-thumb-up.png", 
		scaleGridLeft="3", 
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	thumbDownSkin: Embed(source="/css/skins/scroll-thumb-up.png", 
		scaleGridLeft="3", 
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	trackSkin: Embed(source="/css/skins/scroll-track-thin.png",
		scaleGridLeft="3",	
		scaleGridRight="5", 
		scaleGridTop="5", 
		scaleGridBottom="100");
	thumbIcon: ClassReference(null);
}

/*
//------------------------------
//  SwatchPanel
//------------------------------
*/

mx|SwatchPanel {
	/*backgroundColor: #E5E6E7;*/
	backgroundColor: #222222;
	/*borderColor: #A5A9AE;*/
	borderColor: #101010;
	columnCount: 20;
	fontSize: 11;
	/*highlightColor: #FFFFFF;*/
	highlightColor: #222222;
	horizontalGap: 0;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 4;
	previewHeight: 22;
	previewWidth: 45;
	/*shadowColor: #4D555E;*/
	shadowColor: #101010;
	/*swatchBorderColor: #000000;*/
	swatchBorderColor: #101010;
	swatchBorderSize: 1;
	swatchGridBackgroundColor: #000000;
	swatchGridBorderSize: 0;
	swatchHeight: 12;
	swatchHighlightColor: #FFFFFF;
	swatchHighlightSize: 1;
	swatchWidth: 12;
	textFieldStyleName: "swatchPanelTextField";
	textFieldWidth: 72;
	verticalGap: 0;
}

/*
//------------------------------
//  swatchPanelTextField
//------------------------------
*/
.swatchPanelTextField {
	color: #AAAAAA;
	/*backgroundColor: #FFFFFF;*/
	backgroundColor: #222222;
	/*borderCapColor: #919999;*/
	/*borderColor: #D5DDDD;*/
	borderColor: #101010;
	borderStyle: "inset";
	buttonColor: #101010;
	highlightColor: #101010;
	paddingLeft: 5;
	paddingRight: 5;
	shadowCapColor: #101010;
	shadowColor: #101010;
}

mx|TextInput, mx|TextArea {
	borderStyle: "inset";
	borderColor: #101010;
	backgroundColor: #222222;
	backgroundDisabledColor: #333333;
	color: #AAAAAA;
	disabledColor: #666666;
}

mx|TileList {
	backgroundAlpha: 0;
	borderStyle: "none";
	color: #AAAAAA;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 5;
	paddingBottom: 5;
	selectionColor: #6441A5;
	textSelectedColor: #FFFFFF;
	useRollOver: false;
	itemStyleName: "tileStyles";
}

.tileStyles {
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 0;
	paddingBottom: 0;
}

mx|TitleWindow {
	borderAlpha: 1;
	backgroundColor: #333333;
	borderColor: #333333;
}

mx|ToolTip {
	backgroundColor: #111111;
	borderColor: #111111;
	color: #FFFFFF;
	/*fontFamily: "Lucida Console", "Courier New", monospace;*/
	fontFamily: Verdana;
	fontSize: 9;
}

mx|Tree {
	backgroundAlpha: 0; 
	borderStyle: "inset";
	borderColor: #101010;
	/*borderThickness: 0;*/
	color: #AAAAAA;
	fontSize: 12;
	selectionColor: #6441A5;
	textRollOverColor: #AAAAAA;
	textSelectedColor: #CCCCCC;
	openDuration: 0;
	useRollOver: false;
	folderOpenIcon: Embed(source="/css/skins/Tree_folderIcon.png");
	folderClosedIcon: Embed(source="/css/skins/Tree_folderIcon.png");
	/*folderClosedIcon: Embed(source="/css/skins/Tree_branchIcon.png");*/
	defaultLeafIcon: Embed(source="/css/skins/Tree_leafIcon.png");
	disclosureClosedIcon: Embed(source="/css/skins/Tree_disclosureClosed.png");
	disclosureOpenIcon: Embed(source="/css/skins/Tree_disclosureOpen.png");
}

containers|GlowPanel {
	borderAlpha: 1;
	backgroundColor: #333333;
	borderColor: #333333;
	dropShadowEnabled: false;
	roundedBottomCorners: true;
}

containers|GlowTitleWindow {
	borderAlpha: 1;
	backgroundColor: #333333;
	borderColor: #333333;
	dropShadowEnabled: false;
	roundedBottomCorners: true;
	closeButtonUpSkin: Embed("/css/skins/icon_close_up.png");
	closeButtonOverSkin: Embed("/css/skins/icon_close_over.png");
	closeButtonDownSkin: Embed("/css/skins/icon_close_down.png");
}

containers|WidgetTogglesCanvas {
	backgroundColor: #1E1E1E;
	borderColor: #000000;
	/*borderStyle: "inset";*/
	borderStyle: "solid";
	dropShadowEnabled: false;
	roundedBottomCorners: false;
}

/**
* DonationToolTip
* Custom ToolTip used for DataGrid item rollover
*/
controls|DonationToolTip {
	color: #CCCCCC;
	fontSize: 11;
}

/**
* NotificationWindow
* Custom Window with no FlexChrome
*/
core|NotificationWindow {
	/*titleBarBackgroundSkin*/
	backgroundColor: #333333;
	borderColor: #000000;
	/*closeButtonSkin: ClassReference("be.gip.twitch.teeboard.skins.WindowCloseButtonSkin");*/
	titleBarColors: #444444, #333333;
	gripperStyleName: "notification-gripper";
	statusBarBackgroundColor: #333333;
	statusTextStyleName: "notification-status-text";
	titleTextStyleName: "notification-title-text";
}

/* Notification Window Gripper */
.notification-gripper {
	skin: ClassReference(null);
}

/* Notification Window Status */
.notification-status-text {
	color: #AAAAAA;
	textIndent: 10;
}

/* Notification Window Title*/
.notification-title-text {
	color: #AAAAAA;
	fontWeight: "bold";
	textIndent: 10;
}

/**
* TitleBar
* Custom TitleBar used in NotificationWindow
*/
windowClasses|TitleBar {
	closeButtonUpSkin: Embed("/css/skins/win_close_up.png");
	closeButtonOverSkin: Embed("/css/skins/win_close_over.png");
	closeButtonDownSkin: Embed("/css/skins/win_close_down.png");
}

core|VideoDownloadWindow {
	backgroundColor: #333333;
}

/**
* NotificationPanel
*/
notifications|NotificationPanel {
	borderAlpha: 1;
	borderColor: #333333;
	backgroundColor: #333333;
	dropShadowEnabled: false;
	roundedBottomCorners: true;
	statusStyleName: "notification-panel-status";
	titleStyleName: "notification-panel-title";
	/* flex adds 2 pixels to the height - unless borderThicknessTop = 0 */
	headerHeight: 22;
	/* top thickness is defined by headerHeight */
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	fontSize: 12;
}

.notification-panel-status {
	color: #999999;
	/*fontFamily: "Arial";*/
	fontSize: 10;
}

.notification-panel-title {
	color: #DDDDDD;
	/*fontFamily: "Briem Script Std";*/
	fontSize: 11;
	fontWeight: "bold";
}

containers|VideoDownloadPanel {
	borderAlpha: 1;
	borderColor: #333333;
	backgroundColor: #333333;
	color: #AAAAAA;
	closeButtonUpSkin: Embed(source="/css/skins/CloseButton_upSkin.png");
	closeButtonOverSkin: Embed(source="/css/skins/CloseButton_overSkin.png");
	closeButtonDownSkin: Embed(source="/css/skins/CloseButton_downSkin.png");
	dropShadowEnabled: false;
	roundedBottomCorners: true;
	titleStyleName: "download-panel-title";
}

.download-panel-title {
	color: #FFFFFF;
	/*fontFamily: "Briem Script Std";*/
	fontSize: 11;
	fontWeight: "bold";
}

/**
* Video Repeater Item
*/
renderers|VideoRepeaterItem {
	itemStyleName: "itemStyles";
}

/**
* Stream Repeater Item
*/
renderers|StreamRepeaterItem {
	itemStyleName: "itemStyles";
}

.itemStyles {
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 0;
	paddingBottom: 0;
}

/**
* TitleBar
* Custom TitleBar used in NotificationWindow
*/
windowClasses|TitleBar {
	closeButtonUpSkin: Embed("/css/skins/win_close_up.png");
	closeButtonOverSkin: Embed("/css/skins/win_close_over.png");
	closeButtonDownSkin: Embed("/css/skins/win_close_down.png");
}

.messageStyles {
	color: #FFFFFF;
	fontSize: 11;
}

.windowStyles {
	color: #FFFFFF;
	fontSize: 12;
}

.grey-button {
	color: #666666;
	textRollOverColor: #666666;
	textSelectedColor: #333333;
	disabledColor: #999999;
	fontWeight: normal;
	themeColor: haloSilver;
	skin: Embed(source="/css/skins/Button02_upSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	downSkin: Embed(source="/css/skins/Button02_downSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
	disabledSkin: Embed(source="/css/skins/Button02_disabledSkin.png", 
		scaleGridLeft="4", 
		scaleGridRight="60", 
		scaleGridTop="4", 
		scaleGridBottom="18");
}

.nav-user-bg {
	backgroundColor: #282828; 
	backgroundImage: Embed(source="/css/skins/nav-user-bg.png", 
		scaleGridLeft="4", 
		scaleGridRight="46", 
		scaleGridTop="4", 
		scaleGridBottom="32");
	backgroundSize: "100%";
	paddingLeft: 10;
	paddingRight: 10;
}

.nav-user-label {
	color: #FFFFFF;
	fontWeight: "bold";
}

.nav-settings-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/cog-up.png");
	overIcon: Embed(source="/css/icons/cog-over.png");
	downIcon: Embed(source="/css/icons/cog-over.png");
}

.nav-users-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/user-up.png");
	overIcon: Embed(source="/css/icons/user-over.png");
	downIcon: Embed(source="/css/icons/user-over.png");
}

.nav-logout-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/logout-up.png");
	overIcon: Embed(source="/css/icons/logout-over.png");
	downIcon: Embed(source="/css/icons/logout-over.png");
}

.main-navbar {
	buttonStyleName: "navbar-toggle-button";
	firstButtonStyleName: "navbar-toggle-button";
	lastButtonStyleName: "navbar-toggle-button";
	/*selectedButtonTextStyleName: "selectedButtonText";*/
	selectedButtonTextStyleName: "nav-selected-text";
	textAlign: "left";
}

.navbar-toggle-button {
	color: #AAAAAA;
	cornerRadius: 0;
	/*focusThickness: 1;*/
	/*fontSize: 11;*/
	textAlign: "left";
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	skin: Embed(source="/css/skins/nav-button-skin.png", 
		scaleGridLeft="4", 
		scaleGridRight="96", 
		scaleGridTop="4", 
		scaleGridBottom="31");
	overSkin: Embed(source="/css/skins/nav-button-skin-over.png", 
		scaleGridLeft="4", 
		scaleGridRight="96", 
		scaleGridTop="4", 
		scaleGridBottom="31");
	downSkin: Embed(source="/css/skins/nav-button-skin.png", 
		scaleGridLeft="4", 
		scaleGridRight="96", 
		scaleGridTop="4", 
		scaleGridBottom="31");
	selectedUpSkin: Embed(source="/css/skins/nav-button-skin-selected.png", 
		scaleGridLeft="4", 
		scaleGridRight="90", 
		scaleGridTop="4", 
		scaleGridBottom="31");
	selectedOverSkin: Embed(source="/css/skins/nav-button-skin-selected.png", 
		scaleGridLeft="4", 
		scaleGridRight="90", 
		scaleGridTop="4", 
		scaleGridBottom="31");
	selectedDownSkin: Embed(source="/css/skins/nav-button-skin-selected.png", 
		scaleGridLeft="4", 
		scaleGridRight="90", 
		scaleGridTop="4", 
		scaleGridBottom="31");
}

.nav-selected-text {
	color: #FFFFFF;	
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
}

.status-refresh-button {
	/*skin: ClassReference(null);*/
	/*downSkin: ClassReference(null);*/
	upIcon: Embed(source="/css/icons/refresh-up.png");
	overIcon: Embed(source="/css/icons/refresh-over.png");
	downIcon: Embed(source="/css/icons/refresh-down.png");
}

.sub-linkbar-container {
	backgroundColor: #1E1E1E; 
	borderColor: #000000;
	borderStyle: "solid";
	borderSides: "bottom"; 
	paddingRight: 16;
	verticalAlign: "middle";
}

.sub-linkbar {
	cornerRadius: 0;
	separatorColor: #666666;
	linkButtonStyleName: "sub-linkbar-button";
	/*buttonWidth: 80;*/
	paddingTop: 0;
	paddingBottom: 0;
	separatorColor: #4B4B4B;
}

.sub-linkbar-button {
	/*fontSize: 11;*/
	skin: Embed(source="/css/skins/LinkButton_upSkin.png");
	disabledSkin: Embed(source="/css/skins/LinkButton_disabledSkin.png");
	color: #888888;
	cornerRadius: 0;
	disabledColor: #EEEEEE;
	rollOverColor: #444444;
	selectionColor: #444444;
	textRollOverColor: #EEEEEE;
	textSelectedColor: #BBBBBB;
	paddingTop: 0;
	paddingBottom: 0;
}

.add-icon-button {
	/*icon: Embed("/css/icons/16x16/add-up.png");*/ 
	/*disabledIcon: Embed("/css/icons/16x16/add-disabled.png");*/
	skin: Embed("/css/icons/icon_add_grey.png");
	disabledSkin: Embed("/css/icons/icon_add_grey_disabled.png");
}

.remove-icon-button {
	/*icon: Embed("/css/icons/16x16/remove-up.png"); */
	/*disabledIcon: Embed("/css/icons/16x16/remove-disabled.png");*/
	skin: Embed("/css/icons/icon_delete_grey.png");
	disabledSkin: Embed("/css/icons/icon_delete_grey_disabled.png");
}

.clear-icon-button {
	/*icon: Embed("/css/icons/16x16/remove-up.png"); */
	/*disabledIcon: Embed("/css/icons/16x16/remove-disabled.png");*/
	skin: Embed("/css/icons/icon_clear_grey.png");
	disabledSkin: Embed("/css/icons/icon_clear_grey_disabled.png");
}

.media-controller-bg {
	backgroundImage: Embed("/css/skins/media-controls-bg.png", 
		scaleGridLeft="2", 
		scaleGridRight="98", 
		scaleGridTop="2", 
		scaleGridBottom="25");
	backgroundSize: "100%";
	horizontalAlign: "center";
	verticalAlign: "middle";
	horizontalGap: 5;
	paddingLeft: 5;
	paddingRight: 5;
}

.prev-icon-button {
	skin: Embed("/css/icons/media-prev-up.png");
	overSkin: Embed("/css/icons/media-prev-over.png");
}

.next-icon-button {
	skin: Embed("/css/icons/media-next-up.png");
	overSkin: Embed("/css/icons/media-next-over.png");
}

.pause-icon-button {
	skin: Embed("/css/icons/media-pause-up.png");
	overSkin: Embed("/css/icons/media-pause-over.png");
}

.sync-icon-button {
	skin: Embed("/css/icons/media-sync-up.png");
	overSkin: Embed("/css/icons/media-sync-over.png");
}

.subnav-server-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/server-up.png");
	overIcon: Embed(source="/css/icons/server-over.png");
	downIcon: Embed(source="/css/icons/server-over.png");
	disabledIcon: Embed(source="/css/icons/server-disabled.png");
}

.subnav-folder-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/folder-up.png");
	overIcon: Embed(source="/css/icons/folder-over.png");
	downIcon: Embed(source="/css/icons/folder-over.png");
	disabledIcon: Embed(source="/css/icons/folder-disabled.png");
}

.subnav-preview-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/eye-up.png");
	overIcon: Embed(source="/css/icons/eye-over.png");
	downIcon: Embed(source="/css/icons/eye-over.png");
	disabledIcon: Embed(source="/css/icons/eye-disabled.png");
}

.subnav-manager-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/download-manager-up.png");
	overIcon: Embed(source="/css/icons/download-manager-over.png");
	downIcon: Embed(source="/css/icons/download-manager-over.png");
	disabledIcon: Embed(source="/css/icons/download-manager-disabled.png");
}

.subnav-settings-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/cog-up.png");
	overIcon: Embed(source="/css/icons/cog-over.png");
	downIcon: Embed(source="/css/icons/cog-over.png");
}

.subnav-trash-button {
	skin: ClassReference(null);
	downSkin: ClassReference(null);
	upIcon: Embed(source="/css/icons/icon_trash_grey.png");
	overIcon: Embed(source="/css/icons/icon_trash_grey.png");
	downIcon: Embed(source="/css/icons/icon_trash_grey.png");
}

.nav-toggles-form {
	labelWidth: 85;
	paddingLeft: 16;
	paddingTop: 5; 
	paddingBottom: 5;
}

.view-form {
	labelWidth: 114;
	paddingTop: 10;
	paddingBottom: 10;
}

/*
controls|IconButton {
	icon: Embed("/css/icons/22x22/remove-up.png"); 
	disabledIcon: Embed("/css/icons/22x22/remove-disabled.png");
}
*/

.title-window-controlbar {
	horizontalAlign: "right";
}

.twobbler-input {
	borderStyle: "inset";
	borderColor: #101010;
	backgroundColor: #333333;
	backgroundDisabledColor: #333333;
	color: #AAAAAA;
}

.twobbler-preview-container {
	borderColor: #101010;
	borderStyle: "inset"; 
	backgroundColor: #222222; 
	backgroundAlpha: 0.75;
	color: #AAAAAA;
}

.video-repeater-container {
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 10;
	verticalGap: 10;
}

.repeater-item-linkbutton {
	color: #888888;
	cornerRadius: 0;
	disabledColor: #555555;
	rollOverColor: #444444;
	selectionColor: #444444;
	textRollOverColor: #EEEEEE;
	textSelectedColor: #BBBBBB;
	paddingTop: 0;
	paddingBottom: 0;
	skin: ClassReference(null);
	overSkin: ClassReference(null);
	downSkin: ClassReference(null);
}

.info-container {
	backgroundColor: #000000;
	backgroundAlpha: 0.9;
	borderColor: #222222; 
	borderStyle: "solid";
	cornerRadius: 4;
	/*roundedBottomCorners: true;*/
	horizontalCenter: 0;
}

.tools-oauth-datagrid {
	selectionColor: #6441A5;
	textSelectedColor: #FFFFFF;
	useRollOver: false;
}

.giveaway-list {
	backgroundAlpha: 0;
	borderStyle: "none";
}

.poll-options-datagrid {
	selectionColor: #6441A5;
	textSelectedColor: #FFFFFF;
	useRollOver: false;
	rollOverColor: #222222;
}

.messages-datagrid {
	selectionColor: #6441A5;
	textSelectedColor: #FFFFFF;
	useRollOver: false;
	rollOverColor: #222222;
}
